.row.bg-white.py-5.px-3
  .row.pt-2.bg-white
    .col.my-auto.pb-2
      .h1= "Repositorios"
    .col-8

  - @repositories.each do |repo|
    = render(RepoCardComponent.new(name: repo.title, 
    image_url: repo.image, 
    description: repo.description, 
    date_creation: repo.date_of_creation,
    language: repo.language))
    %div.px-4
      - repo.secondary_projects.each do |secondary|
        = render(RevealCardComponent.new(name: secondary.title, 
        description: secondary.description, 
        language: secondary.language,
        date_creation: secondary.date_of_creation,
        main_project: secondary.main_project.title))

  .text-center
    = link_to "Agregar repositorio", new_admin_repository_path, "data-controller": "turbo", class: 'btn btn-primary mx-2'

