<%= render 'shared/bibliographic_search', url: admin_bibliographic_files_path %>

<div class="d-grid gap-2 col-3 mx-auto mb-5">
	<%= link_to "Nuevo registro", new_admin_bibliographic_file_path, class: "btn btn-primary", "data-controller": "turbo" %>
</div>