<table class="table">
	<thead>
		<tr>
			<th scope="col">Año</th>
			<th scope="col">Investigador</th>
			<th scope="col">Género</th>
			<th scope="col">Ms</th>
			<th scope="col">Idioma_y</th>
			<th scope="col">Idioma_y2</th>
			<th scope="col">Título</th>
			<th scope="col">Datos B</th>
			<th scope="col">N1</th>
			<th scope="col">N2</th>
			<th scope="col">Idioma</th>
			<th scope="col">Base</th>
		</tr>
	</thead>
	<tbody>
		<% @files.each do |file| %>
			<%= render partial: "bibliographic_files/bibliographic_file", object: file %>
		<% end %>
	</tbody>
</table>
