<h1>New bibliographic file</h1>

<%= render "form", bibliographic_file: @bibliographic_file %>

<br>

<div>
	<%= link_to "Ir a indice de archivos bibliograficos", bibliographic_files_path, class: "btn btn-outline-dark" %>
</div>
