<table class="table table-striped">  
	<tr>
		<th scope="col">Correo</th>
		<th scope="col">Fecha de creación</th>
		<th></th>
	</tr>
	<% @researchers.each do |researcher|  %>
		<tr>
			<td><%= link_to researcher.contact_email, admin_researcher_path(researcher) %></td>
			<td><%= researcher.created_at %></td>
			      <td>
      <%= link_to edit_admin_researcher_path(researcher), "data-controller": "turbo" do %>
        <i class="bi bi-files" style="color:black"></i>
      <% end %>
      </td>
		</tr>
	<% end %>
</table>

<div class="text-center">
	<%= link_to "Crear nuevo investigador", new_admin_researcher_path, class: 'btn btn-primary '%>
</div>
