<%# <div class="pt-2"><%= image_tag(@researcher.image, width: 300, height: 200, crop: :scale) </div> %>

<%= render(CardComponent.new(title: "Aliquam Sed Massa", image_url: "public/researchers/massa.jpg")) do %>
			<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elementum nisi in pulvinar. 
			Pellentesque id sagittis orci. Donec ultrices metus ut magna vehicula, non pharetra felis vulputate. 
			Sed porttitor ultricies lobortis. Maecenas et congue felis. Quisque eleifend lectus in pharetra pretium. 
			</p>
			<p>
			Donec porttitor consectetur enim, eu venenatis purus feugiat id. Pellentesque aliquam diam id feugiat euismod. 
			Aenean semper nisl non massa vestibulum mattis. Donec vehicula maximus odio et vulputate. Praesent congue nulla 
			ac leo eleifend iaculis. Pellentesque venenatis metus sit amet libero congue imperdiet. Vestibulum suscipit 
			lectus sed nulla dapibus ornare. Sed vehicula auctor aliquet.
			</p>
			<p>
			Pellentesque sapien mauris, dapibus in ex at, tincidunt aliquam turpis. Nulla facilisi. Nulla id massa eu velit 
			ultrices congue. In magna metus, feugiat eget orci et, bibendum aliquam tortor. Maecenas venenatis tincidunt 
			tellus ut pellentesque. Proin vitae dui et neque hendrerit aliquam. 
			</p>
		<% end %>
