<div class="card mb-3 w-100 p-3">
	<div class="row g-0">
		<div class="col-md-4 py-5 justify-content-center d-flex">
			<%= image_tag("public/projects/sample.jpg", class: "img-fluid") %>
		</div>

		<div class="col-auto d-lg-flex p-3 d-none d-lg-block h-auto pe-xxl-5">
			<div class="vr" style="width: 2px"></div>
		</div>

		<div class="col-md-7 py-5">
			<div class="card-body">
				<h5 class="card-title display-4">Lotería Pai Pai</h5>
				<p class="card-text fs-4">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elementum nisi in pulvinar. Pellentesque id sagittis orci. Donec ultrices metus ut magna vehicula, non pharetra felis vulputate. Sed porttitor ultricies lobortis. Maecenas et congue felis. Quisque eleifend lectus in pharetra pretium. 
				</p>
				<p class="card-text fs-4">
				Donec porttitor consectetur enim, eu venenatis purus feugiat id. Pellentesque aliquam diam id feugiat euismod. Aenean semper nisl non massa vestibulum mattis. Donec vehicula maximus odio et vulputate. Praesent congue nulla ac leo eleifend iaculis. Pellentesque venenatis metus sit amet libero congue imperdiet. Vestibulum suscipit lectus sed nulla dapibus ornare. Sed vehicula auctor aliquet.
				</p>
				<p class="card-text fs-4">
				Pellentesque sapien mauris, dapibus in ex at, tincidunt aliquam turpis. Nulla facilisi. Nulla id massa eu velit ultrices congue. In magna metus, feugiat eget orci et, bibendum aliquam tortor. Maecenas venenatis tincidunt tellus ut pellentesque. Proin vitae dui et neque hendrerit aliquam. 
				</p>
			</div>
		</div>
	</div>
</div>