<div class="p-0">
	<div class="row pt-2 bg-white">
	  <div class="col my-auto pb-2">
			<%= image_tag("public/navbar/logo.png", width: 275, class: "mx-3") %>
    </div>
    <div class="col-8">
    </div>
  </div>
  <div class="row pt-2">
	  <div class="col my-auto pb-2">
    </div>
    <div class="col-7 text-center align-self-center">
      <h1 class="align-items-start display-1">Nosotros</h1>
    </div>
    <div class="col my-auto pb-2">
			<%= image_tag("public/drawings/sky.svg", width: 100) %>
    </div>
  </div>

  <div class="row bg-black">
    <hr/>
    <hr/>
    <hr/>
  </div>

  <div class="row justify-content-center bg-white text-center py-5">
    <div class="card my-5 w-25 p-3">
      <div class="row">
        <div class="py-5 justify-content-center d-flex">
          <%= image_tag("public/about_us/volcan.jpg", class: "img-fluid") %>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center bg-white py-5">
    <div class="col-auto">
      <div class="d-flex h-100">
        <div class="vr" style="width: 2px">
        </div>
      </div>
    </div>
		<div class="col-10">
			<h2 class="display-3">Nosotros</h3>
			<div class="fs-4 px-5">
				<p><span class="fw-bold">Coordinador General</span>
				<br>Dr. Manuel Alejandro Sánchez Fernández
				<br>
				<br><span class="fw-bold">Soporte y diseño web</span>
				<br>Brandon Matthew
				<br>Orlando Franco
				<br>
				<br><span class="fw-bold">Becarios y practicantes:</span>
				<br>Kenia Andrea Aguilar Meza (UABC, Facultad de Idiomas, Licenciatura en traducción)
				</p>
			</div>
		</div>
  </div>

	<div class="row justify-content-center bg-white py-5">
    <div class="col-auto">
      <div class="d-flex h-100">
        <div class="vr" style="width: 2px">
        </div>
      </div>
    </div>
		<div class="col-10">
			<h2 class="display-3">Objetivos</h3>
			<div class="fs-4 px-5">
				<p>El Archivo de Lenguas Yumanas en México (ALYUM) tiene como objetivo reunir y organizar en un solo espacio las distintas investigaciones relacionadas con las lenguas yumanas, con énfasis en aquellas que se hablan en México, para hacerla universalmente accesible y útil.</p>
				<p>ALYUM tiene dos ejes principales: el buscador bibliográfico, especializado en investigación lingüística de todas las lenguas yumanas; y el buscador léxico o BULE, que cuenta con unidades léxicas capturadas de distintos trabajos. También se integran bajo el mismo marco otras iniciativas que pueden ser consultadas en la pestaña de Proyectos de la página que tienen como objetivo la divulgación de la ciencia, la difusión de la investigación científica y la difusión de la lengua y la cultura.</p>
				<p>Toda retroalimentación para mejorar es bien recibida. Si eres miembro de alguna comunidad y quieres acceder a alguno de los textos o necesitas ayuda para ubicarlo, no dudes en contactar al equipo.</p>
			</div>
		</div>
  </div>

	<div class="row justify-content-center bg-black py-5 text-white">
    <div class="col-auto">
      <div class="d-flex h-100">
        <div class="vr bg-white" style="width: 2px">
        </div>
      </div>
    </div>
		<div class="col-10">
			<h2 class="display-3">Antecedentes</h3>
			<div class="fs-4 px-5">
				<p>Por Manuel Sánchez</p>
				<p>El proyecto inició a partir de la ayudantía de investigación SNI III con la Dra. Karen Dakin en el Instituto de Investigaciones Filológicas de la UNAM. En ese proyecto empecé a registrar fichas bibliográficas de la lengua pa ipai y a su localización de bibliotecas. Esto me permitió notar lo difícil que era acceder a mucha información de estas lenguas: entre la dificultad de encontrar textos en México, viajar a Estados Unidos a distintas bibliotecas o tener la fortuna de ser favorecido con la atención de algún investigador ¿cómo, estando estas lenguas tan amenazadas, era tan difícil para alguien nacido en la misma región, saber sobre ellas?</p>
				<p>Conforme han pasado los años, más investigadores jóvenes se han interesados por las lenguas yumanas. De la misma manera, más jóvenes de las mismas comunidades se están formando profesionalmente en distintas áreas, lo que refuerza la necesidad de que esta información sea fácil de acceder para todos: como una forma de repatriar mucho conocimiento que quedó en Estados Unidos, reconstruirlo y generar material de divulgación. Por lo que, un primer paso es localizar este material. Espero que esta base, junto con otros investigadores y colaboradores que quieran sumarse, crezca y cumpla el objetivo.</p>
				<p>Por otro lado, este proyecto y medio de difusión ha sido el pretexto para reunir otros proyectos en el mismo marco. El Buscador Léxico o Bule es un trabajo que reúne varios intereses en mis líneas de investigación: lingüística de corpus, computacional y lexicología. En su momento, este buscador se sofisticará para realizar búsquedas más precisas, pero por lo pronto, puede servir como un rápido “vocabulario paralelo” para saber cómo se dicen algunas palabras en las lenguas yumanas que se han podido registrar.</p>
			</div>
		</div>
  </div>

	<div class="row justify-content-center bg-black py-5 text-white">
    <div class="col-auto">
      <div class="d-flex h-100">
        <div class="vr bg-white" style="width: 2px">
        </div>
      </div>
    </div>
		<div class="col-10">
			<h2 class="display-3">Colaboraciones</h3>
			<div class="fs-4 px-5">
				<p>Para hacer este proyecto realidad hemos tenido la colaboración de distintas instituciones como lo son:</p>
				 <ul>
					<li>Universidad Autónoma de Baja California</li>
					<li>Instituto de Humanidades y Ciencias de la Conducta</li>
					<li>El Colegio de México</li>
					<li>Comisión Nacional para el Desarrollo de los Pueblos Indígenas</li>
					<li><a style="color: #f68920" href="https://lingmex.colmex.mx/">Lingmex: bibliografía lingüística de México </a></li>
				</ul> 

				<p>Se agradece el apoyo de:</p>
				<ul>
					<li>Dra. Rebeca Barriga (El Colegio de México).</li>
					<li>Dr. Roberto Salazar (IHCC)</li>
					<li>Mtra. Ivette S. González (Nuevo México)</li>
					<li>Dr. Martín Domínguez (ENAH Chihuahua)</li>
				</ul>
				<p>Becarios de Servicio Comunitario y Profesional:</p>
				<ul>
					<li>Bani Ezequiel Ramirez Nieto (UABC, Facultad de Idiomas, Licenciatura en traducción)</li>
					<li>Diego De Jesús Ramírez Zaleta (UABC, Facultad de Idiomas, Licenciatura en traducción)</li>
					<li>Janessa Barragan Verdugo (UABC, Facultad de Idiomas, Licenciatura en traducción)</li>
					<li>Magdalena Armendáriz (UABC, Facultad de Idiomas, Licenciatura en traducción)</li>
					<li>Yazmin Guadalupe Sanchez Valdes (UABC, Facultad de Idiomas, Licenciatura en traducción)</li>
					<li>Ariadna Villavicencio Olivas (UABC, Facultad de Idiomas, Licenciatura en traducción)</li>
					<li>Armida Enriquez Evangelista (UABC, Facultad de Idiomas, Licenciatura en traducción)</li>
				</ul>
			</div>
		</div>
  </div>

	<div class="row justify-content-center bg-white py-5">
    <div class="col-auto">
      <div class="d-flex h-100">
        <div class="vr" style="width: 2px">
        </div>
      </div>
    </div>
		<div class="col-10">
			<h2 class="display-3">Directorio</h3>
			<div class="fs-4 px-5">
				<p>Para colaborar en algún proyecto o integrarse al equipo de investigadores..</p>
				<p><span class="fw-bold">Dr. Manuel Alejandro Sánchez Fernández</span>
					<br>sanchez.manuel@uabc.edu.mx
					<br>Facultad de Pedagogía e Innovación Educativa
					<br>Universidad Autónoma de Baja California
				</p>
				<p>Problemas técnicos, mandar un correo a contacto@tdm.ensenada.net</p>
			</div>
		</div>
  </div>

	<div class="row justify-content-center bg-white py-5">
    <div class="col-auto">
      <div class="d-flex h-100">
        <div class="vr" style="width: 2px">
        </div>
      </div>
    </div>
		<div class="col-10">
			<h2 class="display-3">¿Te gustaría apoyar a la causa?</h3>
			<div class="fs-4 px-5">
				Puedes comprar una reproducción de la mariposa Euphydryas editha ssp. quino, ícono de nuestro proyecto, ilustrada por la artista Louise Fleurs. Ponte en contacto con nuestro equipo para que te indique el procedimiento de compra.
			</div>
		</div>
  </div>
</div>
