<div class="p-0">
  <div class="row">
    <div class="col-8">
      <h1 class="align-items-start display-1">Nosotros</h1>
      <p class="display-3">
        Vestibulum vestibulum mattis massa et accumsan. 
        Aliquam erat volutpat. Praesent gravida purus. 
        Vitae erat hendrerit dictum.
      </p>
    </div>
    <div class="col-1"></div>
    <div class="col my-auto pb-2">
      <%= image_tag("public/drawings/sky.svg", width: 125) %>
    </div>
  </div>

  <div class="row bg-black">
    <hr/>
    <hr/>
    <hr/>
  </div>

  <div class="row justify-content-center bg-white text-center py-5">
    <div class="card my-5 w-25 p-3">
      <div class="row">
        <div class="py-5 justify-content-center d-flex">
          <%= image_tag("public/about_us/volcan.jpg", class: "img-fluid") %>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center bg-white py-5">
    <div class="col-auto">
      <div class="d-flex h-100">
        <div class="vr" style="width: 2px">
        </div>
      </div>
    </div>
		<div class="col-10">
			<h2 class="display-3">Nosotros</h3>
			<div class="fs-4 px-5">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elementum nisi in pulvinar. Pellentesque id sagittis orci. Donec ultrices metus ut magna vehicula, non pharetra felis vulputate. Sed porttitor ultricies lobortis. Maecenas et congue felis. Quisque eleifend lectus in pharetra pretium. 
				</p>
				<p>
					Donec porttitor consectetur enim, eu venenatis purus feugiat id. Pellentesque aliquam diam id feugiat euismod. Aenean semper nisl non massa vestibulum mattis. Donec vehicula maximus odio et vulputate. Praesent congue nulla ac leo eleifend iaculis. Pellentesque venenatis metus sit amet libero congue imperdiet. Vestibulum suscipit lectus sed nulla dapibus ornare. Sed vehicula auctor aliquet.
				</p>
				<p>
					Pellentesque sapien mauris, dapibus in ex at, tincidunt aliquam turpis. Nulla facilisi. Nulla id massa eu velit ultrices congue. In magna metus, feugiat eget orci et, bibendum aliquam tortor. Maecenas venenatis tincidunt tellus ut pellentesque. Proin vitae dui et neque hendrerit aliquam. 
				</p>
			</div>
		</div>
  </div>

	<div class="row justify-content-center bg-white py-5">
    <div class="col-auto">
      <div class="d-flex h-100">
        <div class="vr" style="width: 2px">
        </div>
      </div>
    </div>
		<div class="col-10">
			<h2 class="display-3">Objetivos</h3>
			<div class="fs-4 px-5">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elementum nisi in pulvinar. Pellentesque id sagittis orci. Donec ultrices metus ut magna vehicula, non pharetra felis vulputate. Sed porttitor ultricies lobortis. Maecenas et congue felis. Quisque eleifend lectus in pharetra pretium. 
				</p>
				<p>
					Donec porttitor consectetur enim, eu venenatis purus feugiat id. Pellentesque aliquam diam id feugiat euismod. Aenean semper nisl non massa vestibulum mattis. Donec vehicula maximus odio et vulputate. Praesent congue nulla ac leo eleifend iaculis. Pellentesque venenatis metus sit amet libero congue imperdiet. Vestibulum suscipit lectus sed nulla dapibus ornare. Sed vehicula auctor aliquet.
				</p>
				<p>
					Pellentesque sapien mauris, dapibus in ex at, tincidunt aliquam turpis. Nulla facilisi. Nulla id massa eu velit ultrices congue. In magna metus, feugiat eget orci et, bibendum aliquam tortor. Maecenas venenatis tincidunt tellus ut pellentesque. Proin vitae dui et neque hendrerit aliquam. 
				</p>
			</div>
		</div>
  </div>

	<div class="row justify-content-center bg-black py-5 text-white">
    <div class="col-auto">
      <div class="d-flex h-100">
        <div class="vr bg-white" style="width: 2px">
        </div>
      </div>
    </div>
		<div class="col-10">
			<h2 class="display-3">Estructura</h3>
			<div class="fs-4 px-5">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elementum nisi in pulvinar. Pellentesque id sagittis orci. Donec ultrices metus ut magna vehicula, non pharetra felis vulputate. Sed porttitor ultricies lobortis. Maecenas et congue felis. Quisque eleifend lectus in pharetra pretium. 
				</p>
				<p>
					Donec porttitor consectetur enim, eu venenatis purus feugiat id. Pellentesque aliquam diam id feugiat euismod. Aenean semper nisl non massa vestibulum mattis. Donec vehicula maximus odio et vulputate. Praesent congue nulla ac leo eleifend iaculis. Pellentesque venenatis metus sit amet libero congue imperdiet. Vestibulum suscipit lectus sed nulla dapibus ornare. Sed vehicula auctor aliquet.
				</p>
				<p>
					Pellentesque sapien mauris, dapibus in ex at, tincidunt aliquam turpis. Nulla facilisi. Nulla id massa eu velit ultrices congue. In magna metus, feugiat eget orci et, bibendum aliquam tortor. Maecenas venenatis tincidunt tellus ut pellentesque. Proin vitae dui et neque hendrerit aliquam. 
				</p>
			</div>
		</div>
  </div>

	<div class="row justify-content-center bg-black py-5 text-white">
    <div class="col-auto">
      <div class="d-flex h-100">
        <div class="vr bg-white" style="width: 2px">
        </div>
      </div>
    </div>
		<div class="col-10">
			<h2 class="display-3">Colaboraciones</h3>
			<div class="fs-4 px-5">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elementum nisi in pulvinar. Pellentesque id sagittis orci. Donec ultrices metus ut magna vehicula, non pharetra felis vulputate. Sed porttitor ultricies lobortis. Maecenas et congue felis. Quisque eleifend lectus in pharetra pretium. 
				</p>
				<p>
					Donec porttitor consectetur enim, eu venenatis purus feugiat id. Pellentesque aliquam diam id feugiat euismod. Aenean semper nisl non massa vestibulum mattis. Donec vehicula maximus odio et vulputate. Praesent congue nulla ac leo eleifend iaculis. Pellentesque venenatis metus sit amet libero congue imperdiet. Vestibulum suscipit lectus sed nulla dapibus ornare. Sed vehicula auctor aliquet.
				</p>
				<p>
					Pellentesque sapien mauris, dapibus in ex at, tincidunt aliquam turpis. Nulla facilisi. Nulla id massa eu velit ultrices congue. In magna metus, feugiat eget orci et, bibendum aliquam tortor. Maecenas venenatis tincidunt tellus ut pellentesque. Proin vitae dui et neque hendrerit aliquam. 
				</p>
			</div>
		</div>
  </div>

	<div class="row justify-content-center bg-white py-5">
    <div class="col-auto">
      <div class="d-flex h-100">
        <div class="vr" style="width: 2px">
        </div>
      </div>
    </div>
		<div class="col-10">
			<h2 class="display-3">Directorio</h3>
			<div class="fs-4 px-5">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elementum nisi in pulvinar. Pellentesque id sagittis orci. Donec ultrices metus ut magna vehicula, non pharetra felis vulputate. Sed porttitor ultricies lobortis. Maecenas et congue felis. Quisque eleifend lectus in pharetra pretium. 
				</p>
				<p>
					Donec porttitor consectetur enim, eu venenatis purus feugiat id. Pellentesque aliquam diam id feugiat euismod. Aenean semper nisl non massa vestibulum mattis. Donec vehicula maximus odio et vulputate. Praesent congue nulla ac leo eleifend iaculis. Pellentesque venenatis metus sit amet libero congue imperdiet. Vestibulum suscipit lectus sed nulla dapibus ornare. Sed vehicula auctor aliquet.
				</p>
				<p>
					Pellentesque sapien mauris, dapibus in ex at, tincidunt aliquam turpis. Nulla facilisi. Nulla id massa eu velit ultrices congue. In magna metus, feugiat eget orci et, bibendum aliquam tortor. Maecenas venenatis tincidunt tellus ut pellentesque. Proin vitae dui et neque hendrerit aliquam. 
				</p>
			</div>
		</div>
  </div>
</div>
