<div class="p-0">
	<div class="row pt-2">
	  <div class="col my-auto pb-2">
			<%= image_tag("public/navbar/logo.png", width: 275, class: "mx-3") %>
    </div>
    <div class="col-7 text-center align-self-center">
      <h1 class="align-items-start display-1">Proyectos</h1>
			<p class="display-6">
				Las lenguas son como un cempas칰chil en plena antesis: cuando les brindamos atenci칩n se nos regala ser testigos de belleza y complejidad.
			</p>
    </div>
    <div class="col my-auto pb-2">
			<%= image_tag("public/drawings/star.svg", width: 130) %>
    </div>
  </div>

	<div class="row" style="background: black">
		<hr/>
		<hr/>
		<hr/>
	</div>

	<div class="row justify-content-center bg-white">
		<div class="col-10 fs-3 text-justify px-5 pt-5">
			A continuaci칩n, se enlistan breves descripciones de proyectos alineados a los prop칩sitos de ALYUM. Conforme vayan madurando, cada uno tendr치 su propio sitio. En aquellos proyectos que ya cuentan con alg칰n sitio vinculado aparece el 칤cono 游댕. Estar pendientes de los enlaces en el cuerpo de las descripciones que permiten la descarga de archivos relacionados o galer칤as.
		</div>
	</div>

	<div class="row p-5" style="background: white">
		<% @projects.each do |project| %>
			<%= render(ProjectCardComponent.new(
				title: project.title, 
				body: project.body,
				image_url: project.image
			)) %>
		<% end %>
	</div>
</div>