<div class="p-0">
	<div class="row pt-2 bg-white">
	  <div class="col my-auto pb-2">
			<%= image_tag("public/navbar/logo.png", width: 275, class: "mx-3") %>
    </div>
    <div class="col-8">
    </div>
  </div>
  <div class="row pt-2">
	  <div class="col my-auto pb-2">
    </div>
    <div class="col-7 text-center align-self-center">
      <h1 class="align-items-start display-1">Investigadores Vigentes</h1>
    </div>
    <div class="col my-auto pb-2">
			<%= image_tag("public/drawings/flower.svg", width: 130) %>
    </div>
  </div>

	<div class="row" style="background: black">
		<hr/>
		<hr/>
		<hr/>
	</div>

	<div class="row p-5" style="background: white">
		<p class="fs-4 text-center" style="padding-right: 40px; padding-left: 40px;">
			Se presentan a continuación los investigadores de lenguas yumanas que trabajan actualmente con algún nivel descriptivo o documental.
		</p>

		<% @researchers.each do |researcher| %>
			<%= render(CardComponent.new(
				name: full_name(researcher), 
				image_url: researcher.image,
				description: researcher.academic_description,
				language: researcher.main_language,
				level: researcher.main_language_level
			))  %>
		<% end %>		
	</div>
</div>