<div class="p-0">
  <div class="row">
    <div class="col-8">
      <h1 class="align-items-start display-1">Lista de Investigadores</h1>
			<p class="display-3">
				Praesent gravida purus. Vitae erat hendrerit dictum.
				Fusce id libero sodales elit congue.
			</p>
    </div>
		<div class="col-1"></div>
    <div class="col my-auto">
			<%= image_tag("public/drawings/flower.svg", width: 150) %>
    </div>
  </div>

	<div class="row" style="background: black">
		<hr/>
		<hr/>
		<hr/>
	</div>

	<div class="row p-5" style="background: white">
		<% @researchers.each do |researcher| %>
			<%= render(CardComponent.new(
				name: full_name(researcher), 
				image_url: researcher.image,
				description: researcher.academic_description,
				language: researcher.main_language,
				level: researcher.main_language_level,
				email: researcher.contact_email,
				website_link: researcher.website_link
			))  %>
		<% end %>		
	</div>
</div>