@media (max-width: 992px){
	.navbar-nav {
			text-align: center;
	}
}

.btn-primary {
	border-color: white;
	background: #f68920;
	color: white; // Or any other light color.
	&:hover {
		background-color: darken(#f68920, 8%);
		border-color: white;
	}
}

.page-item.active .page-link {
  color: #fff !important;
  background: #f68920 !important;
}

.pagination > li > a
{
    background-color: white;
    color: black;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #f68920 !important;
    border: solid 1px #f68920 !important;
}

.pagination > .active > a:hover
{
    background-color: #f68920 !important;
    border: solid 1px #f68920 !important;
}

.footer {
  position: relative;
  width: 100%;
	height: 13rem;
	bottom: 0;
	color: white;
	background-color: #000000;
  text-align: center;

  ul {
    padding: 0;
    margin-bottom: 0;
    img {
      margin: 0.5rem;
    }
	}
  
	hr {
		width: 25%;
		margin: auto;

	}
}

.navbar .navbar-nav .nav-link {
  background-color: #f68920;
  color: #000000;
  font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover{
  color: #808080;
}
.navbar-logo-centered .navbar-nav .nav-link{
  padding: .5em 1em;
}

.hidden {
  display: none;
}

