@media (max-width: 992px) {
    .navbar-nav {
        text-align: center;
    }
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Crimson Text', serif;
}

.zoom {
    transition: transform .2s;
}
  

  
.zoom:hover {
    -ms-transform: scale(1.15); /* IE 9 */
    -webkit-transform: scale(1.15); /* Safari 3-8 */
    transform: scale(1.15); 
}

.control-me {
    display: none;
}

#toggle_check:checked ~ .control-me {
    display: block;
}