<%= form_with model: @user, url: url do |form| %>
  <div class="mb-3">
    <%= form.label "Contraseña", class: "form-label" %>
    <%= form.password_field :password, class: "form-control" %>
  </div>
  <div class="actions">
    <%= form.submit "Guardar", class: "btn btn-primary" %>
  </div>
<% end %>
