<footer class="footer mt-auto justify-content-center align-items-center">
	<p class="pt-3">Coordinador General: Manuel Alejandro Sánchez Fernández</p>
	<p>Sistemas y Diseño digital: Brandon Matthew Ruvalcaba Cardenas</p>
	<hr>
	<%= image_tag("public/footer/footer_logo.png", width: 145, class: "pt-3") %>
	<p class="pt-3">Base bibliográfica: Archivo de lenguas yumanas.</p>
	<p>México: Instituto de Humanidades y Ciencias de la Conducta.</p>
</footer>